
<footer>
    <div class="footer-container">
      <div class="footer-column">
        <h2>Navegación</h2>
        <ul>
          <li><a href="/">Inicio</a></li>
          <li><a href="#nuevos-ingresos" id="nuevos-ingresos" class="boton-categoria">Nuevos ingresos</a></li>
          <li><a href="#ofertas" id="ofertas" class="boton-categoria">Ofertas</a></li>
          <li><a href="#accesorios" id="accesorios" class="boton-categoria">Accesorios</a></li>
          <li><a href="#parte-de-arriba" id="parte-de-arriba" class="boton-categoria">Parte de arriba</a></li>
          <li><a href="#parte-de-abajo" id="parte-de-abajo" class="boton-categoria">Parte de abajo</a></li>
          <li><a href="#todos-productos" id="todos" class="boton-categoria" >Todos los productos</a></li>
        </ul>
      </div>
      <div class="footer-column">
        <h2>Ubicación</h2>
        <p>Libertad, Merlo Bs. As. Argentina</p>
      </div>
      <div class="footer-column">
        <h2>Contacto</h2>
        <p>Email: gothspookyferia@gmail.com</p>
        <p>Teléfono: 0800 123 456</p>
      </div>
      <div class="footer-column">
        <h2>Instagram</h2>
        <div class="social-icons">
            <a href="https://instagram.com/gothspookyferia?igshid=MzRlODBiNWFlZA==" target="_blank"> <!-- Abre el instagram en una nueva pestaña -->
                <img src="images/design/icono-instagram.png" alt="Instagram">
            </a>
        </div>
      </div>
      <div class="footer-column">
        <h2>Seguridad y Certificaciones</h2>
        <img src="images/design/data-fiscal.png" alt="Data Fiscal"> <!-- Agregar imagen de data fiscal -->
      </div>
    </div>

    

  </footer>

