<!DOCTYPE html>
<html lang="es">
<head>
  <meta charset="UTF-8">
  <meta name="viewport" content="width=device-width, initial-scale=1.0">
  <title>Goth Spooky Feria</title>
  <link rel="stylesheet" href="footer.css">  <!-- Estilo del footer -->
</head>
<body>
<footer>
    <div class="footer-container">
      <div class="footer-column">
        <h2>Navegación</h2>
        <ul>
          <li><a href="/">Inicio</a></li>
          <li><a href="/nuevos">Nuevos ingresos</a></li>
          <li><a href="/ofertas">Ofertas</a></li>
          <li><a href="/accesorios">Accesorios</a></li>
          <li><a href="/parte-arriba">Parte de arriba</a></li>
          <li><a href="/parte-abajo">Parte de abajo</a></li>
          <li><a href="/productos">Todos los productos</a></li>
        </ul>
      </div>
      <div class="footer-column">
        <h2>Ubicación</h2>
        <p>Libertad, Merlo Bs. As. Argentina</p>
      </div>
      <div class="footer-column">
        <h2>Contacto</h2>
        <p>Email: gothspookyferia@gmail.com</p>
        <p>Teléfono: 0800 123 456</p>
      </div>
      <div class="footer-column">
        <h2>Instagram</h2>
        <div class="social-icons">
            <a href="https://instagram.com/gothspookyferia?igshid=MzRlODBiNWFlZA==" target="_blank"> <!-- Abre el instagram en una nueva pestaña -->
                <img src="icono-instagram.png" alt="Instagram">
            </a>
        </div>
      </div>
      <div class="footer-column">
        <h2>Seguridad y Certificaciones</h2>
        <img src="data-fiscal.png" alt="Data Fiscal"> <!-- Agregar imagen de data fiscal -->
      </div>
    </div>
  </footer>
</body>
</html>
