    <header class="header">     
        <div class="top-section">
            <div class="menu-toggle">
                <button class="menu-button">
                    <i class="fa-solid fa-bars"></i>
                </button>            
            </div>   
            <div class="logo-container">
                <img src="/images/design/logo.png" alt="Mi Logo"> <!-- Logo de la tienda -->
            </div>
            <div class="search-container">
                <input type="text" class="search-input" placeholder="Buscar productos...">
                <button class="search-button"><i class="fa fa-search"></i></button>
            </div>
            <div class="icons">
                <button class="user-button"><i class="fa fa-user"></i></button>
                <button class="cart-button"><i class="fa fa-shopping-cart"></i></button>
            </div>
        </div>
        <div class="menu-container">
            <div class="bottom-section">
                <nav class="nav-menu">
                    <a href="#">Ofertas</a>
                    <a href="#">Nuevos ingresos</a>
                    <a href="#">Accesorios</a>
                    <a href="#">Parte de arriba</a>
                    <a href="#">Parte de abajo</a>
                    <a href="#">Todos los productos</a>
                </nav>
            </div>
        </div>
    </header> 
