<!DOCTYPE html>
<html>
    <head>
        <%- include('./partials/head')  %>
        <title>Home</title>
    </head>
  <body>
    <main class="home">
        <h1 class="title">Home</h1>
    </main>
  </body>
</html>