<!DOCTYPE html>
<html>
    <head>
        <%- include('../partials/head')  %>
        <title>Admin</title>
    </head>
  <body>
    <%- include('../partials/header')  %>
    <main class="admin">
        <h1 class="title">Vista administrador</h1>
    </main>
    <%- include('../partials/footer')  %>
  </body>
</html>