/* Estilos específicos para la vista de administrador */
.admin {
    font-family: Arial, sans-serif;
    background-color: var(--white);;
    margin: 0;
    padding: 0;
}

.admin h1.tittle, .admin h2.title_container {
    text-align: center;
    color: var(--white); /* Color de texto principal */
    background-color: var(--black); /* Color de fondo */
    padding: 15px;
    border-top-left-radius: 5px;
    border-top-right-radius: 5px;
    margin: 0px auto;
    display: block;
    width: 50%;
}

.admin .list_container {
    color: var(--white); /* Color de texto principal */
    background-color: var(--color1); /* Color de fondo */
    display: flex;
    flex-direction: column;
    align-items: center;
    margin: 0px auto;
    width: 50%;
    border-bottom-left-radius: 5px;
    border-bottom-right-radius: 5px;
}

.admin .table {
    width: 50%;
    margin: 0 auto;
    border-collapse: collapse;
    box-shadow: 0 0 10px rgba(0, 0, 0, 0.1); /* Sombra suave */
}

/* Cambiar el fondo y color del icono al pasar el cursor */
.admin .table .delete {
    transition: background-color 0.3s, color 0.3s; /* Agregar transición para un cambio suave */
    background-color: transparent; /* Fondo inicial */
    color: black; /* Color del icono inicial */
    font-size: 20px;
}

.admin .table .delete:hover {
    background-color: red; /* Cambiar el fondo al pasar el cursor */
    color: white; /* Cambiar el color del icono al pasar el cursor */
}

.admin .table th, .admin .table td {
    border: 1px solid #ccc;
    padding: 10px;
    text-align: center;
}

.admin .table th {
    background-color: #f2f2f2; /* Fondo para encabezados */
}

.admin .table tbody tr:nth-child(odd) {
    background-color: #e9e9e9; /* Fondo para filas impares */
}

.admin .redirect_container a, .admin .redirect_container2 a {
    text-decoration: none;
    color: #fff; /* Color de texto para botones/enlaces */
    background-color: var(--black);
    padding: 8px 15px;
    border-radius: 5px;
    margin: 10px auto;
    display: block;
    width: fit-content;
}

.admin .redirect_container a:hover, .admin .redirect_container2 a:hover {
    background-color: var(--color1); /* Cambio de color al pasar el cursor */
}

/* Media Queries para pantallas más grandes */
@media (min-width: 768px) {
    .admin .list_container {
        flex-direction: row;
        justify-content: space-around;
    }
    .admin .table {
        width: 45%;
    }
    /* Otras modificaciones para una mejor visualización en pantallas más grandes */
}