/* body{
    background-color: white;
}

h3{
    padding: 50px;
}
.container {
    text-align: center;
  }
  
  .container2 {
    margin: 0px 100px 0px;
  }
  
  .title {
    display: grid;
    grid-template-columns: repeat(3, 1fr);
    align-items: center;
  }
  
  .title::before,
  .title::after {
    content: "";
    height: 2px;
    background-color: #000;
    display: block;
  }
  
  .title2 {
    display: grid;
    grid-template-columns: repeat(2, 1fr);
    column-gap: 10rem;
  }
  
  .title2::before,
  .title2::after {
    content: "";
    height: 2px;
    background-color: #000;
    display: block;
  }
  
  .primerlinea {
    display: flex;
    justify-content: space-between;
    padding: 0px;
  }
  
  .formulario {
    display: grid;
    grid-template-columns: 2fr 1fr;
  }
  
  .form form {
    display: grid;
    grid-template-columns: repeat(2, 1fr);
  }
  
  .form form input {
    outline: none;
    border: none;
    border-bottom: 1px solid #c6c6c6;
  }

  p {
    padding: 5px;
  }
  
  .btnpagar {
    padding: 10em;
    text-align: center;
    margin: 0 auto;
  }
  
  button {
    width: 200px;
    background-color: #e50e0e;
    color: #fff;
    padding: 10px;
    border: none;
    border-radius: 5px;
    cursor: pointer;
  }
  
  button:hover {
    background-color: #b33900;
  }
  
  .product {
    display: flex;
    align-items: center;
    justify-content: space-around;
    margin-bottom: 20px;
  }
  
  .product-info {
    flex: 1;
    text-align: left;
  }
  
  .product-info h4 {
    margin-left: 100px;
  }
  
  .price {
    font-size: 20px;
    margin-top: 20px;
  }
  
  .delete-product {
    margin-top: 20px;
    margin-left: 2em;
    cursor: pointer;
  }
 
  .tarjeta {
    width: 200px;
    border-radius: 5px;
    box-shadow: 0 0 0 1px rgba(0, 0, 0, 0.2);
    margin-top: 10px;
    text-align: center;
  }

  .tarjeta img {
    max-width: 50%;
    height: auto;
  }
 */