body {
  font-family: Arial, sans-serif;
  margin: 0;
  padding: 0;
}

.product-box {
  max-width: 800px;
  margin: 20px auto;
  background-color: var(--black);
  border: 1px solid #ddd;
  border-radius: 5px;
  box-shadow: 0 0 10px rgba(0, 0, 0, 0.1);
  padding: 20px;
}

.product-box .product-title {
  text-align: center;
  margin-bottom: 20px;
  background-color: var(--color1)!important; /* Cambia el color de fondo aquí */
  color: var(--white); /* Cambia el color del texto aquí */
  padding: 10px; /* Ajusta el relleno para más espacio alrededor del texto */
}

.product-box .product-info {
  display: flex;
}

.product-box .product-image {
  width: 50%;
}

.product-box .product-image img {
  width: 100%;
  display: block;
  border-radius: 5px;
}

.product-box .product-description {
  width: 50%;
  padding: 0 20px;
  margin-top: 0;
  color: var(--white);
}

.product-box .product-description h2 {
  margin-top: 0;
  color: var(--white); /* Cambia el color del texto aquí */
}

.product-box .product-button a {
  background-color: var(--color1)!important;
  color: var(--white)!important;
  padding: 10px;
  text-decoration: none;
  display: inline-block;
  border-radius: 5px;
  margin-top: 20px;
}
