<!DOCTYPE html>
<html>
    <head>
        <%- include('../partials/head')  %>
        <title>Carrito</title>
    </head>
  <body>
    <main class="cart">
        <h1 class="title">Carrito</h1>
    </main>
  </body>
</html>