<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Detalle producto</title>
    <link rel="stylesheet" href="css/detail.css">
</head>
<body>
  <main>   
    <h2>Productos</h2>
      <div class="slider-frame">
        <ul>
            <li class="li"> 
                <div><img src="images/products/producto1.jpg" alt=""></div>
                <div class="div">
                    <div  class="div2" ><h3>Producto 1</h3></div>
                    <div class="div2" ><p>Lorem ipsum dolor, sit amet consectetur adipisicing elit. </p></div> 
                    <div class="div2"><a href="cart.html" target="_blank">A単adir Carrito</a></div>
                </div>  
            </li>
            <li class="li"> 
                <div><img src="images/products/producto2.jpg" alt=""></div>
                <div class="div">
                    <div class="div2" ><h3>Producto 2</h3></div>
                    <div class="div2" ><p>Lorem ipsum dolor, sit amet consectetur adipisicing elit. </p></div> 
                    <div class="div2" ><a href="cart.html" target="_blank">A単adir Carrito</a></div>
                </div>  
            </li>
            <li class="li"> 
                <div><img src="images/products/producto3.jpg" alt=""></div>
                <div class="div">
                    <div class="div2"><h3>Producto 3</h3></div>
                    <div class="div2"><p>Lorem ipsum dolor, sit amet consectetur adipisicing elit. </p></div> 
                    <div class="div2" ><a href="cart.html" target="_blank">A単adir Carrito</a></div>
                </div>  
            </li>
            <li class="li"> 
                <div><img src="images/products/producto4.jpg" alt=""></div>
                <div class="div">
                    <div class="div2" ><h3>Producto 4</h3></div>
                    <div class="div2" ><p>Lorem ipsum dolor, sit amet consectetur adipisicing elit. </p></div> 
                    <div class="div2" ><a href="cart.html" target="_blank">A単adir Carrito</a></div>
                </div>  
            </li>   
        </ul>
     </div>
  </main>
</body>
</html>