<!DOCTYPE html>
<html lang="en">
	<head>
		<meta charset="UTF-8" />
		<meta http-equiv="X-UA-Compatible" content="IE=edge" />
		<meta
			name="viewport"
			content="width=device-width, initial-scale=1.0"/>
		<title>Detalle Producto</title>
		<link href="https://cdn.jsdelivr.net/npm/bootstrap@5.3.2/dist/css/bootstrap.min.css" rel="stylesheet" integrity="sha384-T3c6CoIi6uLrA9TneNEoa7RxnatzjcDSCmG1MXxSR1GAsXEV/Dwwykc2MPK8M2HN" crossorigin="anonymous">
		<link rel="stylesheet" href="gothspooky/public/css/detail.css" />
</head>
<body>
<header>
	
</header>
		
	<div class="container-title">
		<div><img src="gothspooky/public/images/design/logo.png" alt=""></div>
		<div><h1> PRODUCTO</h1></div>
		<div><img src="gothspooky/public/images/design/logo.png" alt=""></div>
	</div>
<main>
		
	<div class="general"> 
		<div class="container-info-product">
				 <div class="container-carousel">
					<div id="carouselExampleIndicators" class="carousel slide">
						<div class="carousel-indicators">
						  <button type="button" data-bs-target="#carouselExampleIndicators" data-bs-slide-to="0" class="active" aria-current="true" aria-label="Slide 1"></button>
						  <button type="button" data-bs-target="#carouselExampleIndicators" data-bs-slide-to="1" aria-label="Slide 2"></button>
						  <button type="button" data-bs-target="#carouselExampleIndicators" data-bs-slide-to="2" aria-label="Slide 3"></button>
						  <button type="button" data-bs-target="#carouselExampleIndicators" data-bs-slide-to="3" aria-label="Slide 4"></button>
						</div>
						<div class="carousel-inner">
						  <div class="carousel-item active">
							<img src="gothspooky/public/images/products/producto1.jpg" class="d-block w-100" alt="...">
						  </div>
						  <div class="carousel-item">
							<img src="gothspooky/public/images/products/producto2.jpgg" class="d-block w-100" alt="...">
						  </div>
						  <div class="carousel-item">
							<img src="gothspooky/public/images/products/producto3.jpg" class="d-block w-100" alt="...">
						  </div>
						  <div class="carousel-item">
							<img src="gothspooky/public/images/products/producto4.jpg" class="d-block w-100" alt="...">
						  </div>
						</div>
						<button class="carousel-control-prev" type="button" data-bs-target="#carouselExampleIndicators" data-bs-slide="prev">
						  <span class="carousel-control-prev-icon" aria-hidden="true"></span>
						  <span class="visually-hidden">Previous</span>
						</button>
						<button class="carousel-control-next" type="button" data-bs-target="#carouselExampleIndicators" data-bs-slide="next">
						  <span class="carousel-control-next-icon" aria-hidden="true"></span>
						  <span class="visually-hidden">Next</span>
						</button>
					</div>
				  </div>

			<div class="container-galery"><h5>Galeria</h5>
				 <div class="galery">
				      <div><img src="gothspooky/public/images/products/producto1.jpg" alt=""></div>
					  <div><img src="gothspooky/public/images/products/producto2.jpgg" alt=""></div>
				</div>
				 <div class="galery">
					  <div><img src="gothspooky/public/images/products/producto3.jpg" alt=""></div>
					  <div><img src="gothspooky/public/images/products/producto4.jpg" alt=""></div>
				 </div>
				
                   <div class=".container-add-cart ">
					<button class="btn-add-to-cart"><a href="gothspooky/src/views/products/cart.ejs">Añadir Carrito</a></button>
			      </div>
		   </div>
		</div>
					
	 

	    <div class="container-details-product">
			
			 <div class="title-description">
					<h4>Descripción</h4>	
			</div>
			 <div class="container-description">
                     <div class="text-description">
						<p>
							Lorem ipsum dolor, sit amet consectetur adipisicing
							elit. Laboriosam iure provident atque voluptatibus
							reiciendis quae rerum, maxime placeat enim cupiditate
							voluptatum, temporibus quis iusto. Enim eum qui delectus
							deleniti similique? Lorem, ipsum dolor sit amet
							consectetur adipisicing elit. Sint autem magni earum est
							dolorem saepe perferendis repellat ipsam laudantium cum
							assumenda quidem quam, vero similique? Iusto officiis
							quLorem ipsum dolor, sit amet consectetur adipisicing
							elit. Laboriosam iure provident atque voluptatibus
							reiciendis quae rerum, maxime placeat enim cupiditate
							voluptatum, temporibus quis iusto. Enim eum qui delectus
							deleniti similique? Lorem, ipsum dolor sit amet
							consectetur adipisicing elit. Sint autem magni earum est
							dolorem saepe perferendis repellat ipsam laudantium cum
							assumenda quidem quam, vero similique? Iusto officiis
							quod blanditiis iste?od blanditiis iste?
							Lorem ipsum dolor, sit amet consectetur adipisicing
							elit. Laboriosam iure provident atque voluptatibus
							reiciendis quae rerum, maxime placeat enim cupiditate
							voluptatum, temporibus quis iusto. Enim eum qui delectus
							deleniti similique? Lorem, ipsum dolor sit amet
							consectetur adipisicing elit. Sint autem magni earum est
							dolorem saepe perferendis repellat ipsam laudantium cum
							assumenda quidem quam, vero similique? Iusto officiis
							quLorem ipsum dolor, sit amet consectetur adipisicing
							elit. Laboriosam iure provident atque voluptatibus
							reiciendis quae rerum, maxime placeat enim cupiditate
							voluptatum, temporibus quis iusto. Enim eum qui delectus
							deleniti similique? Lorem, ipsum dolor sit amet
							consectetur adipisicing elit. Sint autem magni earum est
							dolorem saepe perferendis repellat ipsam laudantium cum
							assumenda quidem quam, vero similique? Iusto officiis
							quod blanditiis iste?od blanditiis iste?
						</p>
					</div>
			 
               	     
		</div>
</div>
</main>

		<section class="container-related-products">
			<h2>Productos Relacionados</h2>
			<div class="card-list-products">
				<div class="card">
					<div class="card-img">
						<img
							src="gothspooky/public/images/products/producto1.jpg"
							alt="producto-1"
						/>
					</div>
					<div class="info-card">
						<div class="text-product">
							<a href="gothspooky/src/views/products/products.ejs"><span>Nike - Roshe Run</span></a>
							<p class="category">Footwear, Sneakers</p>
						</div>
						
					</div>
				</div>
				<div class="card">
					<div class="card-img">
						<img
							src="gothspooky/public/images/products/producto2.jpg"
							alt="producto-2"
						/>
					</div>
					<div class="info-card">
						<div class="text-product">
							<a href="gothspooky/src/views/products/products.ejs"><span>Common Projects Achilles</span></a>
							<p class="category">Footwear, Sneakers</p>
						</div>
						
					</div>
				</div>
				<div class="card">
					<div class="card-img">
						<img
							src="pgothspooky/public/images/products/producto3.jpg"
							alt="producto-3"
						/>
					</div>
					<div class="info-card">
						<div class="text-product">
							<a href="gothspooky/src/views/products/products.ejs"><span>Adidas - Boston Super OG</span></a>
							<p class="category">Footwear, Sneakers</p>
						</div>
						
					</div>
				</div>
			<div class="card">
					<div class="card-img">
						<img
							src="gothspooky/public/images/products/producto4.jpg"
							alt="producto-4"
						/>
					</div>
					<div class="info-card">
						<div class="text-product">
							<a href="gothspooky/src/views/products/products.ejs"><span>Adidas - Topper Super OG</span></a>
							<p class="category">Footwear, Sneakers</p>
						</div>
						
					</div>
			</div>
		
		</section>

		<footer>
			<p>Footer</p>
		</footer>

		<script
			src="https://kit.fontawesome.com/81581fb069.js"
			crossorigin="anonymous"
		></script>
		<script src= "https://cdn.jsdelivr.net/npm/bootstrap@5.3.2/dist/js/bootstrap.bundle.min.js" integrity="sha384-C6RzsynM9kWDrMNeT87bh95OGNyZPhcTNXj1NW7RuBCsyN/o0jlpcV8Qyq46cDfL" crossorigin="anonymous"></script>
	</body>
</html>
