<!DOCTYPE html>
<html>
    <head>
        <%- include('../partials/head')  %>
        <title>Detalle</title>
    </head>
  <body class="detalle">
    <h1 class="titulo">Detalle de producto</h1>
  </body>
</html>