<!DOCTYPE html>
<html lang="es">
<head>
  <%- include('../partials/head')  %>
  <%- include('../partials/header')  %>
  <meta charset="utf-8">
  <meta name="viewport" content="width=device-width, initial-scale=1.0">
  <title>Gothspooky</title>
  <link rel="stylesheet" href="css/style.css">
</head>
<body>
    <main>
      <div class="contenedor-barra">
        <img class="lineas" src="/images/design/barra.jpeg" alt="">
        <h2 class="titulo-principal titulo-categoria" id="titulo-principal">Todos los productos</h2>
        <img class="lineas" src="/images/design/barra.jpeg" alt="">
      </div>
      <div id="contenedor-productos" class="contenedor-productos">
         
      </div>
    </main>
  </div> 
      
  <%- include('../partials/footer')  %>
  <script src="js/categorias.js"></script>
</body>
</html>